<html>
    <head></head>
    <title>Admin page</title>
    <body>
        <a class="btn btn-outline-warning" href="/dashboard"><b>Main page</b></a>
    <h2><b>Welcome To Our Administrative Department</b></h2>
    <br><h4><b>Courses</b></h4>
    <br><h5>Bacheolor of Engg </h5>
    <h5>Bacheolor of Science</h5>
    <h5>Bacheolor of Arts</h5>
    <h5>Bacheolor of Commerce</h5>
    <h5>Bacheolor of Bussiness Management</h5><br>
    <h3><b>Diploma</b></h3><br>
    <h1>Diploma in Computer Science & Engg</h1>
    <h1>Diploma in Electronics & communcation Engg</h1>
    <h1>Diploma in Civil Engg</h1>
    <h1>Diploma in Mechanical Engg</h1>
    <h1>Diploma in Automobile & Engg</h1>
    <p><b>~ Education is the most powerful weapon ~</b></p>
</body>
</html>
