<div class="col-lg-12 my-4">
  <h1 class="text-center"><b>Enter Teachers Records</b></h1>
</div>
<div class="container d-block justify-content-center my-4">
  <a class="btn btn-outline-danger" href="/dashboard"><b>Main page</b></a>
</div>
<form [formGroup]="myTeacher">
  <div class="row justify-content-center">
    <div class="col-lg-3 my-2">
      <label for="inputname"><b>Enter teacher name</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Tanu"
        formControlName="name"
        [ngClass]="{
          'is-valid': myTeacher.value.name.length > 0,
          'is-invalid': !myTeacher.value.name
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.name.length > 0,
          'invalid-feedback': !myTeacher.value.name
        }"
      >
        {{
          myTeacher.value.name.length > 0
            ? "Looks good!"
            : "please enter your name"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputage"><b>Enter your age</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : 30 years"
        formControlName="age"
        [ngClass]="{
          'is-valid': myTeacher.value.age.length > 0,
          'is-invalid': !myTeacher.value.age
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.age.length > 0,
          'invalid-feedback': !myTeacher.value.age
        }"
      >
        {{
          myTeacher.value.age.length > 0
            ? "Looks good!"
            : "please enter your age"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputEmail"><b>Enter your email id</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : bamadhu1995@gmail.com"
        formControlName="email"
        [ngClass]="{
          'is-valid': myTeacher.controls.email.valid,
          'is-invalid': !myTeacher.controls.email.valid
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.controls.email.valid,
          'invalid-feedback': !myTeacher.controls.email.valid
        }"
      >
        {{
          myTeacher.controls.email.valid
            ? "Looks good!"
            : "please enter your email id"
        }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-3 my-2">
      <label for="inputphone"><b>Enter contact number</b></label>

      <input
        type="number"
        class="form-control"
        maxlength="10"
        placeholder="Example : 1234567897"
        formControlName="phone"
        [ngClass]="{
          'is-valid': myTeacher.value.phone.length == 10,
          'is-invalid': myTeacher.value.phone.length < 10
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.phone.length > 0,
          'invalid-feedback': myTeacher.value.phone.length < 10
        }"
      >
        {{
          myTeacher.value.phone.length == 10
            ? "Looks good!"
            : "please provide 10 digit phone number"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputexp"><b>Enter your experience</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : 2 years"
        formControlName="exp"
        [ngClass]="{
          'is-valid': myTeacher.value.exp.length >= 0,
          'is-invalid': !myTeacher.value.exp
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.exp.length > 0,
          'invalid-feedback': !myTeacher.value.exp
        }"
      >
        {{
          myTeacher.value.exp.length > 0
            ? "Looks good!"
            : "please enter your experience"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputlanguage"><b>Enter your language</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : Kannada"
        formControlName="lang"
        [ngClass]="{
          'is-valid': myTeacher.value.lang.length > 0,
          'is-invalid': !myTeacher.value.lang
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.lang.length > 0,
          'invalid-feedback': !myTeacher.value.lang
        }"
      >
        {{
          myTeacher.value.lang.length > 0
            ? "Looks good!"
            : "please enter your language"
        }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-3 my-2">
      <label for="inputAdrress"><b>Enter your Address</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : 5th bloock dvg"
        formControlName="address"
        [ngClass]="{
          'is-valid': myTeacher.value.address.length > 0,
          'is-invalid': !myTeacher.value.address
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.address.length > 0,
          'invalid-feedback': !myTeacher.value.address
        }"
      >
        {{
          myTeacher.value.address.length > 0
            ? "Looks good!"
            : "please enter your confirm address"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputState"><b>Enter your State</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : Karnataka"
        formControlName="state"
        [ngClass]="{
          'is-valid': myTeacher.value.state.length > 0,
          'is-invalid': !myTeacher.value.state
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.state.length > 0,
          'invalid-feedback': !myTeacher.value.state
        }"
      >
        {{
          myTeacher.value.state.length > 0
            ? "Looks good!"
            : "please enter your state"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputpincode"><b>Enter area pincode</b></label>

      <input
        type="tel"
        class="form-control"
        placeholder="Example : 577521"
        maxlength="6"
        formControlName="pincode"
        [ngClass]="{
          'is-valid': myTeacher.value.pincode.length > 5,
          'is-invalid': !myTeacher.value.pincode
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.value.pincode.length > 0,
          'invalid-feedback': !myTeacher.value.pincode
        }"
      >
        {{
          myTeacher.value.pincode.length > 0
            ? "Looks good!"
            : "please enter your area pincode"
        }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-3 my-2">
      <label for="inputwebsite"><b>Enter your website</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : www.infy.com"
        formControlName="website"
        [ngClass]="{
          'is-valid': myTeacher.controls.website.valid,
          'is-invalid': !myTeacher.controls.website.valid
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myTeacher.controls.website.valid,
          'invalid-feedback': !myTeacher.controls.website.valid
        }"
      >
        {{
          myTeacher.controls.website.valid
            ? "Looks good!"
            : "please enter your website details"
        }}
      </div>
    </div>
  </div>

  <div class="form-group container d-block justify-content-center mt-4">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        <p>I hereby declare that all the above-furnished details are true.</p>
      </label>
    </div>
  </div>
</form>
<div class="container d-block justify-content-center mt-4">
  <button (click)="save()" class="btn btn-primary"><b>Save</b></button>
</div>
