<div class="col-lg-10 my-4">
  <h1 class="text-center"><b>Enter Student Records</b></h1>
</div>

<a class="btn btn-outline-success" href="/dashboard"><b>Main page</b></a>

<form [formGroup]="myStudent">
  <div class="row">
    <div class="col-lg-3 my-2">
      <label><b>Enter student name</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : Nikil"
        formControlName="name"
        [ngClass]="{
          'is-valid': myStudent.value.name.length > 0,
          'is-invalid': !myStudent.value.name
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.name.length > 0,
          'invalid-feedback': !myStudent.value.name
        }"
      >
        {{
          myStudent.value.name.length > 0
            ? "Looks good!"
            : "please enter your name"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputId"><b>Enter your id</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : 423cs"
        formControlName="id"
        [ngClass]="{
          'is-valid': myStudent.value.id.length > 0,
          'is-invalid': !myStudent.value.id
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.id.length > 0,
          'invalid-feedback': !myStudent.value.id
        }"
      >
        {{
          myStudent.value.id.length > 0
            ? "Looks good!"
            : "please enter your valid id"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputDOB"><b>Enter date of birth</b></label>

      <input
        type="date"
        class="form-control"
        placeholder=" "
        formControlName="dob"
        [ngClass]="{
          'is-valid': myStudent.value.dob.length > 0,
          'is-invalid': !myStudent.value.dob
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.dob.length > 0,
          'invalid-feedback': !myStudent.value.dob
        }"
      >
        {{
          myStudent.value.dob.length > 0
            ? "Looks good!"
            : "please enter your DOB"
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 my-2">
      <label for="inputEmail"><b>Enter your email id</b></label>
      <input
        type="text"
        class="form-control"
        placeholder="Example : bamadhu1995@gmail.com"
        formControlName="email"
        [ngClass]="{
          'is-valid': myStudent.value.email.length > 0,
          'is-invalid': !myStudent.value.email
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.email.length > 0,
          'invalid-feedback': !myStudent.value.email
        }"
      >
        {{
          myStudent.value.email.length > 0
            ? "Looks good!"
            : "please enter your email id"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputphone"><b>Enter contact number</b></label>
      <input
        type="tel"
        class="form-control"
        maxlength="10"
        placeholder="Example : 1234567897"
        formControlName="phone"
        [ngClass]="{
          'is-valid': myStudent.value.phone.length >= 10,
          'is-invalid': !myStudent.value.phone
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.phone.length > 0,
          'invalid-feedback': !myStudent.value.phone
        }"
      >
        {{
          myStudent.value.phone.length > 0
            ? "Looks good!"
            : "please enter 10 digit number"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputclass"><b>Enter your Class</b></label>
      <input
        type="text"
        class="form-control"
        placeholder="Example : Diploma 1st"
        formControlName="class"
        [ngClass]="{
          'is-valid': myStudent.value.class.length > 0,
          'is-invalid': !myStudent.value.class
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.class.length > 0,
          'invalid-feedback': !myStudent.value.class
        }"
      >
        {{
          myStudent.value.class.length > 0
            ? "Looks good!"
            : "please enter your class"
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 my-2">
      <label for="inputAdrress"><b>Enter your Address</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : 5th bloock dvg"
        formControlName="address"
        [ngClass]="{
          'is-valid': myStudent.value.address.length > 0,
          'is-invalid': !myStudent.value.address
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.address.length > 0,
          'invalid-feedback': !myStudent.value.address
        }"
      >
        {{
          myStudent.value.address.length > 0
            ? "Looks good!"
            : "please enter your address"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputState"><b>Enter your State</b></label>

      <input
        type="text"
        class="form-control"
        placeholder="Example : Karnataka"
        formControlName="state"
        [ngClass]="{
          'is-valid': myStudent.value.state.length > 0,
          'is-invalid': !myStudent.value.state
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.state.length > 0,
          'invalid-feedback': !myStudent.value.state
        }"
      >
        {{
          myStudent.value.state.length > 0
            ? "Looks good!"
            : "please enter your state"
        }}
      </div>
    </div>
    <div class="col-lg-3 my-2">
      <label for="inputphone"><b>Enter area pincode</b></label>

      <input
        type="tel"
        class="form-control"
        placeholder="Example : 577521"
        maxlength="6"
        formControlName="pincode"
        [ngClass]="{
          'is-valid': myStudent.value.pincode.length > 5,
          'is-invalid': !myStudent.value.pincode
        }"
        id="validationServer01"
        required
      />
      <div
        [ngClass]="{
          'valid-feedback': myStudent.value.pincode.length > 0,
          'invalid-feedback': !myStudent.value.pincode
        }"
      >
        {{
          myStudent.value.pincode.length > 0
            ? "Looks good!"
            : "please enter your area pincode"
        }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" />
      <label class="form-check-label" for="gridCheck">
        <p>I hereby declare that all the above-furnished details are true.</p>
      </label>
    </div>
  </div>
</form>
<button (click)="Save()" class="btn btn-primary"><b>Save</b></button>
