<h1><b>Welcome To Our Institution</b></h1>
<body>
<br><a class="btn btn-outline-info btn-lg btn-block" href="/admin"><b>Admin</b></a>
<br><a class="btn btn-outline-success btn-lg btn-block" href="/student"><b>Student</b></a>
<br><a class="btn btn-outline-danger btn-lg btn-block" href="/teacher"><b>Teacher</b></a><br>
<p><b>Note : Login access only for our institution admins</b></p>
<br><p><a href="https://myaccount.google.com/?utm_source=OGB&tab=rk&utm_medium=app&pli=1">Home - </a>
<a href="https://www.google.com/search?q=indian+iit+college&rlz=1C1CHBF_enIN951IN951&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjMyNGPhM_yAhU04zgGHVMBCsgQ_AUoA3oECAIQBQ&biw=1536&bih=722&dpr=1.25"> gallery - </a>
<a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHvnwfqvHKbcmstngkmXmFXfLDTbxfwLTkPnXTXrrpcgkKBPZMMWfXcnWjSPbQbCbfDXBSG"> feedback -  </a>
<a href="https://www.google.com/search?q=Angular+developer&rlz=1C1CHBF_enIN951IN951&sxsrf=ALeKk03QRblozTTWpu8ugP_i0oSYhAW14g%3A1629891548048&ei=3CsmYduoAqHc1sQPi8Wj8A8&oq=Angular+developer&gs_lcp=Cgdnd3Mtd2l6EAMyCwgAEIAEELEDEIMBMgQIABBDMgQIABBDMgUIABCABDIECAAQQzIFCAAQgAQyBAgAEEMyBQgAEIAEMgQIABBDMgcIABDJAxBDOgcIABBHELADOgcIABCwAxBDOgQIABANSgQIQRgAUN0sWOkyYNVEaAFwAngAgAGKA4gB8gaSAQUyLTIuMZgBAKABAcgBCsABAQ&sclient=gws-wiz&ved=0ahUKEwjbhvmVi8zyAhUhrpUCHYviCP4Q4dUDCA4&uact=5">ourvision -  </a>
<a href="https://web.whatsapp.com/">contact us</a></p>
<form>
<img src="https://www.graphicsprings.com/filestorage/stencils/56903f7e5244a044e949edb3864d3dad.png?width=500&height=500" width="130">
</form>
<div>
 <img src="https://www.graphicsprings.com/filestorage/stencils/68ea7d075a2064907de0c873ea1d81f3.png?width=500&height=500" width="130">
</div>
</body>