<div class="container">
  <!-- heder content starts -->
  <div class="row">
    <div class="col-lg-2">
      <img
        src="https://www.graphicsprings.com/filestorage/stencils/56903f7e5244a044e949edb3864d3dad.png?width=500&height=500"
        width="130"
      />
    </div>
    <div class="col-lg-8 my-4">
      <h1 class="text-center"><b>Welcome To Our Institution</b></h1>
    </div>
    <div class="col-lg-2">
      <img
        src="https://www.graphicsprings.com/filestorage/stencils/68ea7d075a2064907de0c873ea1d81f3.png?width=500&height=500"
        width="130"
      />
    </div>
  </div>
  <!-- heder content ends -->
  <!-- body content start -->
  <div class="container d-block justify-content-center mt-4">
    <a href="/admin" class="d-block btn btn-outline-primary my-2">Admin</a>
    <a href="/teacher" class="d-block btn btn-outline-success">Teacher</a>
    <a href="/student" class="d-block btn btn-outline-danger my-2">Student</a>
    <a href="/notify" class="d-block btn btn-outline-secondary my-2"
      >Notification</a
    >
  </div>
  <!-- body content end -->
</div>
